.cart-step2 {
  .left-sidebar {
    .inner {
      .overview {
        .product {
          .img {
            background: url("../img/iphoneX.jpg") no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            height: 160px;
            max-width: 90px;
            width: 100%;
          }

          .title {
            color: black;
            font-size: 18px;
          }

          .status {
            color: black;

            span {
              font-size: 12px;
              color: $primary-text;
            }
          }

          .price {
            font-size: 35px;
            color: $primary-blue;
            font-weight: bold;
            margin-top: 10px;
          }
        }

        .shipping {
          padding-top: 15px;
          margin-top: 15px;
          border-top: 1px solid $primary-box-color;

          .left-side,
          .right-side {
            p {
              margin-top: 0;

              &:first-of-type {
                margin-bottom: 20px;
              }
            }
          }

          .left-side {
            p {
              font-weight: bold;

              &:first-of-type {
                color: black;
              }
            }
          }

          .right-side {
            p {
              &:first-of-type {
                font-weight: bold;
                color: $primary-green;
              }
            }
          }
        }
      }
    }
  }

  .main-content {
    margin-top: 0;
    border: 1px solid $primary-box-color;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 0;

    .inner {
      .title {
        padding: 30px 30px 0 30px;
      }

      .payment-methods {
        .method {
          border-top: 1px solid $primary-box-color;
          padding: 30px;

          .img {
            width: 45px;
            height: 45px;
            background: yellow;
          }

          .info {
            p {
              margin: 0;
            }

            .fee {
              p {
                font-size: 12px;
                color: $primary-green;
              }
            }
          }

          &:hover {
            background: $blue-hover-color;
          }

          &.iDeal {
            .payment-decision {
              display: flex;
              align-items: flex-end;
              flex-direction: column;
            }

            .btn-green {
              width: 250px;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  .shopping-options {
    margin-top: 30px;

    .row {
      .blue-underline {
        margin-top: 15px;

        i {
          margin-left: 0;
          margin-right: 15px;
        }

        p {
          margin-top: 0;
        }
      }

      p {
        margin-top: 10px;
        text-align: right;
      }
    }
  }
}