.cart-step1 {
  .payment-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-side {
      display: flex;
      flex-direction: row;
    }

    .right-side {
      width: 250px;
    }
  }

  .left-sidebar {
    .inner {
      .overview {
        .product {
          .img {
            background: url("../img/iphoneX.jpg") no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            height: 160px;
            max-width: 90px;
            width: 100%;
          }

          .title {
            color: black;
            font-size: 18px;
          }

          .status {
            color: black;

            span {
              font-size: 12px;
              color: $primary-text;
            }
          }

          .price {
            font-size: 35px;
            color: $primary-blue;
            font-weight: bold;
            margin-top: 10px;
          }
        }

        .shipping {
          padding-top: 15px;
          margin-top: 15px;
          border-top: 1px solid $primary-box-color;

          .left-side,
          .right-side {
            p {
              margin-top: 0;

              &:first-of-type {
                margin-bottom: 20px;
              }
            }
          }

          .left-side {
            p {
              font-weight: bold;

              &:first-of-type {
                color: black;
              }
            }
          }

          .right-side {
            p {
              &:first-of-type {
                font-weight: bold;
                color: $primary-green;
              }
            }
          }
        }
      }
    }
  }

  .main-content {
    margin-top: 0;
    border: 1px solid $primary-box-color;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 0;

    .inner {
      padding: 30px;

      form {
        label {
          font-size: 12px;
        }

        .title {
          margin-top: 30px;

          &:first-of-type {
            margin-top: 0;
          }
        }

        .checkbox {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: flex-end;

          input {
            width: 20px;
            height: 20px;
            margin-right: 15px;
          }

          label {
            margin: 0;
          }
        }
      }
    }
  }
}