.cart-overview {
  section.main-content {
    .inner {
      .cart-status {
        margin-bottom: 25px;
      }

      .cart-items {
        .cart-item {
          .product {
            .img {
              background: url("../img/iphoneX.jpg") no-repeat center;
              -webkit-background-size: contain;
              background-size: contain;
              height: 150px;
              width: 80px;
            }
          }

          .item-options {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .price {
              p {
                color: $primary-blue;
                font-size: 35px;
                font-weight: bold;
              }
            }

            .quantity-selection {
              margin: 15px 0;
              border: 1px solid $primary-box-color;
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              width: 90px;

              button {
                border-radius: 8px 0 0 8px;
                padding: 0;
                background: none;
                border: none;
                outline: none;
                width: 30px;
                height: 35px;
                transition: 200ms background-color;

                i {
                  font-size: 16px;
                }

                &:last-of-type {
                  border-radius: 0 8px 8px 0;
                }

                &:hover {
                  background-color: rgba(0,0,0, 0.05);
                }
              }

              .quantity-value {
                text-align: center;
                height: 35px;
                width: 30px;
                border: none;
                outline: none;
              }
            }
          }
        }
      }

      .shipping {
        .left-side,
        .right-side {
          p {
            margin-top: 0;

            &:first-of-type {
              margin-bottom: 20px;
            }
          }
        }

        .left-side {
          p {
            font-weight: bold;

            &:first-of-type {
              color: black;
            }
          }
        }

        .right-side {
          p {
            &:first-of-type {
              font-weight: bold;
              color: $primary-green;
            }
          }
        }
      }

      .shipping-methods {
        .inner {
          border: 1px solid $primary-box-color;
          border-radius: 9px;
          padding: 30px;

          .method {
            position: relative;
            margin-top: 15px;

            p {
              color: black;

              span {
                color: $primary-green;
              }

              &.sub-text {
                font-size: 12px;
                color: $primary-text;
              }
            }

            .checkbox {
              display: flex;
              justify-content: center;

              input {
                position: absolute;
                top: 10px;
              }
            }
          }
        }
      }

      .continue-shopping {
        margin-top: 30px;

        .row {
          display: flex;
          align-items: center;

          .blue-underline {
            i {
              margin-left: 0;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}