.contact {
  section.right-sidebar {
    .temporary-discount {
      margin-bottom: 30px;

      .inner {
        padding: 20px;
        border: 1px solid $primary-box-color;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
        border-radius: 5px;

        h4 {
          color: $primary-text;
        }

        .img {
          background: url("../img/iphone.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 80px;
          width: 35px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .customer-support-nav {
      margin: 15px 0 30px 0;
      padding-top: 15px;
      border-top: 1px solid $primary-box-color;

      ul {
        margin: 0;
        padding-left: 0;

        li{
          list-style-type: none;
          padding: 10px 0;
          border-top: 1px solid $primary-box-color;

          a {
            color: $primary-text;
            text-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

            &:hover,
            &.active {
              color: $primary-blue;
            }
          }

          &:last-of-type {
            border-bottom: 1px solid $primary-box-color;
          }
        }
      }
    }

    .why-buy-here {
      .check-marks {
        .check-mark {
          i {
            color: $primary-green;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .questions {
      margin-top: 30px;

      .ask {
        .person {
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            background: yellow;
            height: 75px;
            width: 75px;
            border-radius: 100%;
          }
        }

        p {
          font-size: 12px;
        }
      }

      .openings-hours {
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .row {
            width: 100%;
          }

          p {
            font-size: 13px;
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }
  }

  section.main-content {
    margin-top: 0;

    .inner {
      section.content-text {
        .customer-support {
          .contact-method {
            margin-bottom: 40px;

            .timestamp {
              p {
                font-size: 14px;
                text-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
                color: black;
              }
            }
          }
        }

        form {
          label {
            font-size: 12px;
            color: black;
          }
        }
      }
    }
  }
}