@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


footer {
  margin-top: 30px;

  .container {
   .customer-support {
     border-bottom: 1px solid $primary-box-color;

     .left-side {
       .contact {
         display: flex;
         flex-direction: row;
       }

       .timestamp {
         p {
           font-size: 14px;
           text-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
         }
       }
     }

     .right-side {
       .img {
         background: url("../img/footer-person.png") no-repeat center bottom;
         -webkit-background-size: contain;
         background-size: contain;
         height: 222px;
       }
     }
   }

    .socials-container {
      margin: 20px 0;

      .logo {
        h2 {
          font-size: 20px;
          margin-bottom: 0;
        }
      }

      .socials {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          color: $primary-blue;

          &:nth-of-type(2) {
            margin: 0 15px;
          }
        }
      }

      .payment-methods {
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
          background: url("../img/paymentproviders.jpg") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .footer-content {
      h3 {
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
        color: black;
        margin-bottom: 20px;
      }

      .btn {
        @include media-breakpoint-down(xl) {
          width: 100%;
          min-width: unset;
        }

        &:after {
          @include media-breakpoint-down(xl) {
            width: 100%;
            min-width: unset;
          }
        }
      }

      .contact-details {
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 5px;

          i {
            margin-right: 10px;
            width: 15px;
            font-size: 14px;
          }

          p {
            font-size: 14px;
            font-weight: bold;
          }

          &.whatsapp {
            p {
              margin-left: 0;
            }
          }
        }
      }


      .brands {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .img {
          -webkit-background-size: contain;
          background-size: contain;
          height: 30px;

          &:first-of-type {
            background: url("../img/eet.jpg") no-repeat center;
            width: 35px;
            margin-right: 15px;
          }

          &:last-of-type {
            background: url("../img/thuiswinkel.jpg") no-repeat center;
            width: 90px;
          }
        }
      }
    }
  }

  .bottom-bar {
    background: black;
    padding: 10px 0;

    .container {
      display: flex;
      align-items: center;

      .list {
        padding-left: 0;
        margin: 0;

        li {
          list-style-type: none;
          display: inline-block;
          margin-right: 15px;

          a {
            color: $primary-text;
            font-size: 12px;
            text-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

            &:hover {
              color: $primary-text;
            }
          }
        }
      }
    }
  }
}