@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


//basic overall stuff
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $primary-text;
  font-family: sans-serif;
}

section {
  margin: 30px 0;
}

.divider-line {
  .line {
    height: 1px;
    background: $primary-box-color;
    width: 100%;
  }
}

.blue {
  color: $primary-blue !important;
}

.blue-underline {
  display: flex;
  align-items: center;
  color: $primary-blue !important;

  p {
    text-decoration: underline;
    margin: 0;
  }

  i {
    margin-left: 15px;
    text-decoration: none;
  }
}

h1 {
  text-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  line-height: 64px;
  font-weight: bold;
  font-size: 64px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 30px;

  @include media-breakpoint-down(md) {
    line-height: 32px;
    font-size: 32px;
    margin-bottom: 15px;
  }
}

h2 {
  text-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  line-height: 36px;
  font-weight: bold;
  font-size: 36px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 30px;
}

h3 {
  line-height: 28px;
  font-weight: 300;
  font-size: 24px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

h4 {
  line-height: 24px;
  font-weight: 300;
  font-size: 20px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 16px;
  line-height: 22px;
  margin: 5px 0;
}

a {
  color: $primary-text;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

i {
  font-size: 16px;
}

//classes
.btn-green {
  background: $primary-green;
  border-radius: 5px;
  border-bottom: 6px solid $darker-green;
  min-width: 250px;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  display: block;

  &:hover {
    background: #15A100;
    color: white;
  }
}

.btn-white {
  position: relative;
  float: left;
  width: 273px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;

  &:hover {
    color: white;
  }
}

.btn-cart{
  background: $primary-green;
  border-radius: 5px;
  border-bottom: 6px solid $darker-green;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 20px;
  }

  &:hover {
    background: #15A100;
    color: white;
  }
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.placeholder {
  width: 30px;
  height: 30px;
  background: yellow;
}

//REAPPEARING CLASSES

//whatsapp and call
.call {
  display: flex;
  flex-direction: row;
  align-items: center;

  p, i {
    color: $primary-blue;
    font-weight: bold;
  }

  p {
    margin-left: 10px;
  }
}

.whatsapp {
  display: flex;
  flex-direction: row;
  align-items: center;

  p, i {
    color: $primary-green;
    font-weight: bold;
  }

  p {
    margin-left: 10px;
  }
}

//accordion header buttons
.card-header {
  background: white;
  color: $primary-text;

  h5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .btn-link {
      color: $primary-text;
      font-size: 18px;
    }
  }
}

form {
  textarea {
    resize: vertical;
  }
}

.top-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    margin-bottom: 0;
  }
}

.content-text {
  margin-top: 0;
}

//checkmarks
.check-marks {
  margin: 15px 0;

  .check-mark {
    display: flex;
    flex-direction: row;
    padding: 5px 0;

    i {
      margin-top: 8px;
    }

    i, p {
      margin-right: 15px;
      font-size: 16px;
      font-weight: normal;
    }

    p {
      margin-right: 0;
    }
  }

  &.green {
    .check-mark {
      i {
        color: $primary-green;
      }
    }
  }

  &.blue {
    .check-mark {
      i {
        color: $primary-blue;
      }
    }
  }
}

//left-sidebar and right-sidebar
.left-sidebar,
.right-sidebar {
  margin-top: 0;
  margin-bottom: 30px;
}

//breadcrumbs
section.breadcrumbs {
  .item-parent {
    padding-left: 0;
    margin: 0;

    .item {
      list-style-type: none;
      display: inline-block;
      position: relative;
      margin-right: 30px;

      p {
        font-size: 12px;
      }

      &.active {
        p {
          color: $primary-blue;
          font-weight: bold;
        }
      }

      &:before {
        content: "|";
        position: absolute;
        left: -20px;
        top: 3px;
      }

      &:first-of-type {
        &:before {
          display: none;
        }
      }
    }
  }
}

//payment breadcrumbs
.payment-breadcrumbs {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  .crumb {
    margin-right: 30px;
    height: 45px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .inner {
      background: transparent;
      padding: 10px;
      width: 100%;
      text-align: center;
      border-radius: 8px;
      border-top: 1px solid $primary-box-color;
      border-bottom: 1px solid $primary-box-color;
      border-left: 1px solid $primary-box-color;

      p {
        color: $primary-text;
        position: relative;
        z-index: 2;
      }

      &:after {
        content: "";
        width: 36px;
        height: 36px;
        background: transparent;
        border-radius: 0 10px 0 0;
        transform: rotate(45deg);
        position: absolute;
        right: -15px;
        top: 5px;
        bottom: 0;
        z-index: 1;
        border-top: 1px solid $primary-box-color;
        border-right: 1px solid $primary-box-color;
      }
    }

    &.done {
      .inner {
        background: $primary-green;

        p {
          color: white;
        }

        &:after {
          background: $primary-green;
        }
      }
    }

    &.active {
      .inner {
        background: $primary-box-color;

        &:after {
          background: $primary-box-color;
        }
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

//certainties
section.certainties {
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-bottom: 1px solid $primary-box-color;

  .row {
    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      i {
        margin-right: 15px;
        color: $primary-blue;
      }

      &:nth-of-type(2) {
        justify-content: center;
      }

      &:last-of-type {
        justify-content: flex-end;
      }
    }
  }

  &.bottom {
    border-top: 1px solid $primary-box-color;
    padding-top: 10px;
    margin-top: 20px;
  }
}


.dimg {
  background: url("../img/newsitem.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  height: 250px;
}