header {
  .container-fluid {
    background: white;

    .outer {
      width: 1440px;
      margin: 0 auto;

      .top-side {
        .inner {
          .row {
            .left-side {
              display: flex;
              align-items: center;
              padding-top: 12px;
              padding-bottom: 12px;

              .row {
                width: 100%;
              }
            }

            .right-side {
              .stars {
                padding: 12px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                p {
                  margin-left: 15px;
                }
              }

              .top-menu {
                padding: 12px 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-left: 1px solid $primary-box-color;

                ul {
                  padding-left: 0;
                  margin: 0;

                  li {
                    display: inline-block;
                    list-style-type: none;
                    margin: 0 10px;

                    a {
                      text-decoration: underline;
                    }
                  }
                }
              }

              .search {
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 1px solid $primary-box-color;
                border-right: 1px solid $primary-box-color;
              }

              .brands {
                display: flex;
                align-items: center;
                justify-content: space-around;

                .img {
                  -webkit-background-size: contain;
                  background-size: contain;
                  height: 30px;

                  &:first-of-type {
                    background: url("../img/eet.jpg") no-repeat center;
                    width: 35px;
                  }

                  &:last-of-type {
                    background: url("../img/thuiswinkel.jpg") no-repeat center;
                    width: 90px;
                  }
                }
              }
            }
          }
        }
      }

      .bottom-side {
        .inner {
          .row {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
              background: url("../img/logoheader.jpg") no-repeat 15px center;
              -webkit-background-size: contain;
              background-size: contain;
              width: 100%;
              height: 42px;
            }

            .tabs {
              display: flex;
              flex-direction: row;

              .tab-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border-left: 1px solid $primary-box-color;

                .img {
                  background: url("../img/iphone.png") no-repeat center;
                  -webkit-background-size: contain;
                  background-size: contain;
                  height: 45px;
                  width: 23px;
                }

                p {
                  font-weight: bold;
                  color: black;
                  padding: 0 10px;
                }

                i {
                  color: $primary-blue;
                }

                &:nth-of-type(2) {
                  .img {
                    background: url("../img/apple-ipad-pro.png") no-repeat center;
                    width: 32px;
                  }
                }

                &:nth-of-type(3) {
                  .img {
                    background: url("../img/menu-accessoires.jpg") no-repeat center;
                    width: 65px;
                  }
                }

                &.cart {
                  p {
                    font-size: 12px;
                    color: $primary-text;
                  }

                  .cart-icon {
                    position: relative;

                    i {
                      color: $primary-text;
                      font-size: 24px;
                    }

                    .counter {
                      position: absolute;
                      top: -10px;
                      right: -10px;
                      background: $primary-blue;
                      width: 20px;
                      height: 20px;
                      border-radius: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;

                      p {
                        color: white;
                        font-size: 12px;
                        font-weight: lighter;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &:last-of-type {
      border-top: 1px solid $primary-box-color;
      box-shadow: 0 5px 15px -2px rgba(0,0,0,0.15);;
    }
  }
}

section.menu-row {
  display: none;

  .item-parent {
    .item {
      text-align: center;

      .img {
        background: url("../img/iphoneX.jpg") no-repeat center;
        -webkit-background-size: contain;
        background-size: contain;
        height: 70px;
      }
    }

    &:nth-of-type(even) {
      .item {
        .img {
          background: url("../img/iphone.png") no-repeat center;
        }
      }
    }
  }
}
