.homepage {
  section.banner {
    background: url("../img/inspiration-geometry.png") repeat center $primary-blue;
    -webkit-background-size: contain;
    background-size: contain;
    height: 500px;
    margin: 0;

    .left-side {
      background: url(https://backoffice.rephone.nl/catalog/view/theme/rephone/image/iphonex.gif), url(https://backoffice.rephone.nl/catalog/view/theme/rephone/image/iphone5s.png);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 0 100px,180px 120px;
      height: 500px;
    }

    .right-side {
      display: flex;
      align-items: center;

      .inner {
        display: flex;
        flex-direction: column;

        .title {
          h1 {
            font-weight: bold;
            color: white;
            font-size: 65px;
          }
        }

        .check-marks {
          .check-mark {
            i,p {
              color: white;
            }
          }
        }

        .btn-green {
          width: 300px;
        }
      }
    }
  }

  section.cards {
    .container {
      .left-side,
      .right-side {
        transform: translateY(-50px);
        margin-bottom: -50px;

        .inner {
          padding: 30px;
          background: white;
          border-radius: 5px;
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

          .img {
            position: relative;

            .price {
              position: absolute;
              bottom: 0;
              right: 0;
              box-shadow: 0 0 10px 0 rgba(0,0,0,0.14);
              height: 105px;
              width: 105px;
              background: $primary-green;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                color: white;
                margin: 0;
                font-size: 13px;

                span {
                  font-weight: bold;
                  font-size: 35px;
                }
              }
            }
          }

          .check-marks {
            .check-mark {
              i {
                color: $primary-blue;
              }

              p {
                font-size: 14px;
              }
            }
          }
        }
      }

      .left-side {
        .inner {
          .img {
            background: url("../img/iphone.png") no-repeat center left;
            -webkit-background-size: contain;
            background-size: contain;
            height: 160px;
          }
        }
      }

      .right-side {
        .inner {
          .img {
            background: url("../img/apple-ipad-pro.png") no-repeat center left;
            -webkit-background-size: contain;
            background-size: contain;
            height: 160px;
          }
        }
      }
    }
  }

  section.content {
    .container {
      border-radius: 5px;
      height: 400px;

      .inner {
        background: url("../img/last-blog.png");
        -webkit-background-size: cover;
        background-size: cover;
        height: 100%;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h2, p {
          color: white;
        }

        p {
          margin: 15px 0;
        }
      }
    }
  }

  section.refurbished-phones-row {
    .item-parent {
      .item {
        .img {
          background: url("../img/iphoneX.jpg") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 150px;
          width: 80px;
        }

        .title {
          margin-top: 10px;
          color: black;

          span {
            color: $primary-text;
          }
        }

        .price {
          font-size: 12px;
          color: black;
          margin-bottom: 20px;

          span {
            display: block;
            margin-top: 5px;
            font-size: 35px;
            color: $primary-blue;
            font-weight: bold;
          }
        }
      }

      &:nth-of-type(even) {
        .item {
          .img {
            background: url("../img/iphone.png") no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            height: 150px;
            width: 80px;
          }
        }
      }
    }
  }

  section.news-feed {
    .item-parent {
      .item {
        .img {
          background: url("../img/newsitem.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 200px;
        }

        .timestamp {
          font-size: 12px;
          color: black;
          margin: 5px;
        }

        p {
          margin: 15px 0;
        }
      }
    }

    .btn-green {
      width: 250px;
      margin-top: 30px;
    }
  }

  section.about {
    .left-side {
      .inner {
        padding: 30px;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
        margin-bottom: 30px;

        .check-marks {
          .check-mark {
            margin-top: 15px;

            i {
              color: $primary-green;
            }
          }
        }
      }
    }

    .right-side {
      .text {
        margin-bottom: 30px;

        p {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}







