.modal {
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  border-radius: 10px;
}

.modal-header {
  padding: 30px 30px 0 30px;
  border-bottom: none;

  h5 {
    font-size: 24px;
    color: black;
    line-height: 28px;
  }
}

.modal-dialog {
  max-width: 50%;
}

.addToCartModal {
  .modal-body {
    .inner {
      padding: 15px;

      .product {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $primary-box-color;

        .img {
          background: url("../img/iphoneX.jpg") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 150px;
          max-width: 80px;
          width: 100%;
        }

        .title {
          color: black;
          font-size: 18px;
        }

        .status {
          color: black;

          span {
            font-size: 12px;
            color: $primary-text;
          }
        }
      }

      .item-options {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .price {
          p {
            color: $primary-blue;
            font-size: 35px;
            font-weight: bold;
          }
        }
      }

      .product-accessoires {
        .img {
          background: url("../img/iphoneX.jpg") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 110px;
          width: 40px;
          margin: 0 auto;
        }
      }

      .featured {
        padding-top: 25px;
        margin-top: 15px;
        border-top: 1px solid $primary-box-color;

        .item-parent {
          .item {
            .img {
              background: url("../img/iphoneX.jpg") no-repeat center;
              -webkit-background-size: contain;
              background-size: contain;
              height: 80px;
              width: 50px;
              margin: 0 auto;
            }

            .title {
              margin-top: 10px;
              color: black;

              span {
                color: $primary-text;
              }
            }

            .price {
              font-size: 12px;
              color: black;
              margin-bottom: 20px;

              span {
                display: block;
                margin-top: 5px;
                font-size: 35px;
                color: $primary-blue;
                font-weight: bold;
              }
            }
          }

          .button {
            display: flex;
            align-items: flex-end;

            .btn-cart {
              margin-bottom: 10px;
            }
          }
        }
      }

      .buttons {
        .btn-green {
          width: 100%;
          min-width: unset;
          margin-bottom: 10px;
        }

        .blue-underline {
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.productConditions {
  .modal-body {
    padding: 15px 0;

    .inner {
      padding: 15px 0;

      .text {
        padding-top: 15px;
        border-top: 1px solid $primary-box-color;

        .title {
          margin-top: 30px;
          padding: 0 30px;

          &:first-of-type {
            margin-top: 0;
          }
        }

        p {
          padding: 0 30px;
        }
      }
    }
  }
}