.news-detail {
  section.right-sidebar {
    .temporary-discount {
      margin-bottom: 30px;

      .inner {
        padding: 20px;
        border: 1px solid $primary-box-color;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
        border-radius: 5px;

        h4 {
          color: $primary-text;
        }

        .img {
          background: url("../img/iphone.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 80px;
          width: 35px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .why-buy-here {
      .check-marks {
        .check-mark {
          i {
            color: $primary-green;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .relevant-messages {
      .message {
        padding: 12px 0;
        border-top: 1px solid $primary-box-color;

        p {
          margin: 0;
        }

        .date {
          font-size: 12px;
          color: black;
        }

        &:last-of-type {
          border-bottom: 1px solid $primary-box-color;
        }
      }
    }
  }

  section.main-content {
    margin-top: 0;

    .inner {
      section.content-banner {
        margin-top: 0;

        .inner {
          border-radius: 5px;
          height: 350px;
          background: url("../img/last-blog.png");
          -webkit-background-size: cover;
          background-size: cover;
          height: 100%;
          padding: 40px;

          h1, p {
            color: white;
          }

          p {
            margin: 15px 0;
          }
        }

        .date {
          p {
            font-size: 12px;
            span {
              margin-right: 10px;
              color: black;
              font-weight: bold;
            }
          }
        }
      }

      section.content-text {
        p {
          margin-bottom: 25px;
        }
      }

      section.share-message {
        border-top: 1px solid $primary-box-color;
        border-bottom: 1px solid $primary-box-color;
        padding: 20px 0;

        .socials {
          i {
            color: $primary-blue;

            &:nth-of-type(2) {
              margin: 0 30px;
            }
          }
        }
      }

      section.featured-product-items {
        .item-parent {
          margin-bottom: 25px;

          .item {
            border: 1px solid $primary-box-color;
            border-bottom: none;

            .inner {
              padding: 10px;
              .img {
                background: url("../img/iphoneX.jpg") no-repeat center;
                -webkit-background-size: contain;
                background-size: contain;
                height: 150px;
                width: 80px;
              }

              .title {
                margin-top: 10px;
                color: black;

                span {
                  color: $primary-text;
                }
              }

              .price {
                font-size: 12px;
                color: black;
                margin-bottom: 20px;

                span {
                  display: block;
                  margin-top: 5px;
                  font-size: 35px;
                  color: $primary-blue;
                  font-weight: bold;
                }
              }

              .grades {
                ul {
                  padding-left: 0;
                  margin: 0;

                  li {
                    position: relative;
                    padding-left: 15px;
                    list-style-type: none;
                    p {
                      font-size: 12px;
                    }

                    &:before {
                      position: absolute;
                      left: 0;
                      content: "•";
                      font-size: 18px;
                      color: $primary-green;
                    }

                    &.red {
                      &:before {
                        content: "•";
                        color: $primary-red;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}