.news-feed {
  section.right-sidebar {
    .temporary-discount {
      margin-bottom: 30px;

      .inner {
        padding: 20px;
        border: 1px solid $primary-box-color;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
        border-radius: 5px;

        h4 {
          color: $primary-text;
        }

        .img {
          background: url("../img/iphone.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 80px;
          width: 35px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .why-buy-here {
      .check-marks {
        .check-mark {
          i {
            color: $primary-green;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  section.main-content {
    margin-top: 0;

    .inner {
      .filter {
        border-top: 1px solid $primary-box-color;
        border-bottom: 1px solid $primary-box-color;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          border-left: 1px solid $primary-box-color;

          &:last-of-type {
            border-right: 1px solid $primary-box-color;
          }
        }

        p {
          font-size: 12px;
        }

        select {
          border: none;
          font-size: 12px;
          color: $primary-text;
          outline: 0;
        }
      }

      .item-parent {
        .item {
          margin-bottom: 30px;

          .img {
            background: url("../img/newsitem.png") no-repeat center;
            -webkit-background-size: cover;
            background-size: cover;
            border-radius: 5px;
            height: 200px;
          }

          .timestamp {
            font-size: 12px;
            color: black;
            margin: 5px 0;
          }

        }
      }
    }
  }
}