.product-details {
  section.left-sidebar {
    .inner {
      .product {
        border: 1px solid $primary-box-color;
        padding: 30px;
        margin-bottom: 15px;

        .img {
          background: url("../img/iphone.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 200px;
        }
      }

      .product-images {
        margin-bottom: 30px;

        .item-parent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;

          .item {
            width: 55px;
            height: 55px;
            border: 1px solid $primary-box-color;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            .img {
              background: url("../img/iphone.png") no-repeat center;
              -webkit-background-size: contain;
              background-size: contain;
              height: 35px;
              width: 35px;
            }
          }
        }
      }

      .unboxing {
        h4 {
          margin-bottom: 15px;
        }

        .img {
          background: url("../img/newsitem.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 150px;
          margin-bottom: 30px;
        }

        .cart {
          .cart-item {
            padding: 5px 0;
            border-top: 1px solid $primary-box-color;
            border-bottom: 1px solid $primary-box-color;

            .btn-cart {
              width: 45px;
              height: 45px;
              margin-top: 6px;
            }

            p {
              color: black;

              span {
                font-size: 12px;
                color: $primary-text;
              }
            }

            .price {
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                font-weight: bold;
                font-size: 35px;
              }
            }

            &:last-of-type {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  section.main-content {
    .inner {
      .options-info {
        .title {
          h2 {
            margin-bottom: 5px;
          }

          h3 {
            font-size: 27px;
            color: $primary-text;
          }
        }

        .options {
          margin-top: 20px;

          .color-options {
            .color {
              text-align: center;

              .img {
                background: black;
                border-radius: 8px;
                height: 40px;
                width: 40px;

                &:hover,
                &.active {
                  border: 3px solid $primary-blue;
                  cursor: pointer;
                }
              }

              p {
                font-size: 12px;
                line-height: 15px;
              }

              &:first-of-type {
                .img {
                  background: black;
                }
              }

              &:nth-of-type(2) {
                .img {
                  background: #697C83;
                }
              }

              &:last-of-type {
                .img {
                  background: #8F8F8F;
                }
              }
            }
          }

          .storage-options {
            .storage {
              .img {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: 8px;
                border: 1px solid $primary-box-color;
                background: transparent;

                p {
                  font-size: 12px;
                }

                &:hover,
                &.active {
                  background: $primary-blue;
                  cursor: pointer;

                  p {
                    color: white;
                  }
                }
              }
            }
          }
        }

        .condition {
          .title {
            .blue {
              display: flex;
              align-items: center;
              justify-content: flex-end;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .cart {
            .cart-item {
              padding: 5px 0;
              border-top: 1px solid $primary-box-color;
              border-bottom: 1px solid $primary-box-color;

              .btn-cart {
                width: 45px;
                height: 45px;
                margin-top: 6px;
              }

              p {
                color: black;

                span {
                  font-size: 12px;
                  color: $primary-text;
                }
              }

              .price {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                  font-weight: bold;
                  font-size: 35px;
                }
              }

              .stock {
                p {
                  text-align: right;
                  font-size: 12px;
                  padding-right: 15px;

                  span {
                    color: black;
                  }
                }

                &.in-stock {
                  p, span {
                    color: $primary-green;
                  }
                }

                &.no-stock {
                  p, span {
                    color: $primary-red;
                  }
                }
              }

              &:last-of-type {
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      .included {
        margin-bottom: 30px;
        margin-top: 30px;

        .item-parent {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;

          .item {
            width: 90px;
            height: 90px;
            border: 1px solid $primary-box-color;
            border-radius: 8px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            justify-content: center;

            .img {
              background: url("../img/iphone.png") no-repeat center;
              -webkit-background-size: contain;
              background-size: contain;
              height: 60px;
              width: 60px;
            }
          }
        }
      }
      .text-content {
        border-bottom: 1px solid $primary-box-color;
        padding-bottom: 10px;

        .text {
          margin-bottom: 30px;

          p {
            margin-top: 20px;
          }
        }
      }

      .lookouts {
        margin-top: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid $primary-box-color;

        .check-marks {
          p {
            font-size: 12px;
          }

          &.pros {
            i {
              font-weight: 900;
              color: $primary-green;
            }
          }

          &.cons {
            i {
              font-weight: 900;
              color: $primary-red;
            }
          }
        }
      }

      .media {
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $primary-box-color;
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 10px;
        }

        .img {
          border-radius: 5px;
          background: url("../img/newsitem.png") no-repeat center;
          -webkit-background-size: cover;
          background-size: cover;
          height: 260px;
          width: 100%;
        }
      }

      .specs {
        margin-top: 30px;

        .spec {
          p {
            &:first-of-type {
              font-weight: bold;
              color: black;
            }
          }
        }
      }
    }
  }

  section.right-sidebar {
    .temporary-discount {
      margin-bottom: 30px;

     .inner {
       padding: 20px;
       border: 1px solid $primary-box-color;
       box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
       border-radius: 5px;

       h4 {
         color: $primary-text;
       }

       .img {
         background: url("../img/iphone.png") no-repeat center;
         -webkit-background-size: contain;
         background-size: contain;
         height: 80px;
         width: 35px;
       }

       p {
         font-size: 12px;
       }
     }
    }

    .why-buy-here {
      .check-marks {
        .check-mark {
          i {
            color: $primary-green;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    .brands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $primary-box-color;
      border-bottom: 1px solid $primary-box-color;
      margin: 15px 0;
      padding: 15px 0;

      .img {
        -webkit-background-size: contain;
        background-size: contain;
        height: 30px;

        &:first-of-type {
          background: url("../img/eet.jpg") no-repeat center;
          width: 35px;
          margin-right: 15px;
        }

        &:nth-of-type(2) {
          background: url("../img/thuiswinkel.jpg") no-repeat center;
          width: 90px;
        }

        &:last-of-type {
          background: url("../img/eet.jpg") no-repeat center;
          width: 35px;
        }
      }
    }

    .questions {
      margin-top: 30px;

      .ask {
        .person {
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            background: yellow;
            height: 75px;
            width: 75px;
            border-radius: 100%;
          }
        }

        p {
          font-size: 12px;
        }
      }

      .openings-hours {
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .row {
            width: 100%;
          }

          p {
            font-size: 13px;
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }

    .reviews {
      margin-top: 30px;

      .review {
        margin-bottom: 23px;
        padding-bottom: 7px;
        border-bottom: 1px solid $primary-box-color;

        .title {
          font-size: 16px;
        }

        .stars {
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            background: yellow;
            width: 90px;
            height: 25px;
          }
        }

        .text {
          p {
            font-size: 12px;
          }
        }
      }

      a {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
        border-bottom: 1px solid $primary-box-color;
      }
    }

    .trade-old-phone {
      margin-top: 30px;

      p {
        font-size: 12px;
        margin: 15px 0;
      }
    }
  }
}