.product-overview {
  section.left-sidebar {
    .product-filter {
      margin-bottom: 30px;
    }

    .temporary-discount {
      margin-bottom: 30px;

      .inner {
        padding: 20px;
        border: 1px solid $primary-box-color;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
        border-radius: 5px;

        h4 {
          color: $primary-text;
        }

        .img {
          background: url("../img/iphone.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          height: 80px;
          width: 35px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .why-buy-here {
      .check-marks {
        .check-mark {
          i {
            color: $primary-green;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    .brands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $primary-box-color;
      border-bottom: 1px solid $primary-box-color;
      margin: 15px 0;
      padding: 15px 0;

      .img {
        -webkit-background-size: contain;
        background-size: contain;
        height: 30px;

        &:first-of-type {
          background: url("../img/eet.jpg") no-repeat center;
          width: 35px;
          margin-right: 15px;
        }

        &:nth-of-type(2) {
          background: url("../img/thuiswinkel.jpg") no-repeat center;
          width: 90px;
        }

        &:last-of-type {
          background: url("../img/eet.jpg") no-repeat center;
          width: 35px;
        }
      }
    }

    .questions {
      margin-top: 30px;

      .ask {
        .person {
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            background: yellow;
            height: 75px;
            width: 75px;
            border-radius: 100%;
          }
        }

        p {
          font-size: 12px;
        }
      }

      .openings-hours {
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .row {
            width: 100%;
          }

          p {
            font-size: 13px;
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }

    .reviews {
      margin-top: 30px;

      .review {
        margin-bottom: 23px;
        padding-bottom: 7px;
        border-bottom: 1px solid $primary-box-color;

        .title {
          font-size: 16px;
        }

        .stars {
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            background: yellow;
            width: 90px;
            height: 25px;
          }
        }

        .text {
          p {
            font-size: 12px;
          }
        }
      }

      a {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
        border-bottom: 1px solid $primary-box-color;
      }
    }

    .trade-old-phone {
      margin-top: 30px;

      p {
        font-size: 12px;
        margin: 15px 0;
      }
    }
  }

  .main-content {
    margin-top: 0;

    .inner {
      section.content-banner {
        margin-top: 0;

        .container {
          border-radius: 5px;
          height: 250px;

          .inner {
            background: url("../img/last-blog.png");
            -webkit-background-size: cover;
            background-size: cover;
            height: 100%;
            padding: 40px;

            h1, p {
              color: white;
            }

            p {
              margin: 15px 0;
            }
          }
        }
      }

      .filter {
        border-top: 1px solid $primary-box-color;
        border-bottom: 1px solid $primary-box-color;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          border-left: 1px solid $primary-box-color;

          &:last-of-type {
            border-right: 1px solid $primary-box-color;
          }
        }

        p {
          font-size: 12px;
        }

        select {
          border: none;
          font-size: 12px;
          color: $primary-text;
          outline: 0;
        }
      }

      section.product-items {
        .item-parent {
          margin-bottom: 25px;

          .item {
            border: 1px solid $primary-box-color;
            border-bottom: none;

            .inner {
              padding: 10px;
              .img {
                background: url("../img/iphoneX.jpg") no-repeat center;
                -webkit-background-size: contain;
                background-size: contain;
                height: 150px;
                width: 80px;
              }

              .title {
                margin-top: 10px;
                color: black;

                span {
                  color: $primary-text;
                }
              }

              .price {
                font-size: 12px;
                color: black;
                margin-bottom: 20px;

                span {
                  display: block;
                  margin-top: 5px;
                  font-size: 35px;
                  color: $primary-blue;
                  font-weight: bold;
                }
              }

              .grades {
                ul {
                  padding-left: 0;
                  margin: 0;

                  li {
                    position: relative;
                    padding-left: 15px;
                    list-style-type: none;
                    p {
                      font-size: 12px;
                    }

                    &:before {
                      position: absolute;
                      left: 0;
                      content: "•";
                      font-size: 18px;
                      color: $primary-green;
                    }

                    &.red {
                      &:before {
                        content: "•";
                        color: $primary-red;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}