.trade-in-step2 {
  .payment-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-side {
      display: flex;
      flex-direction: row;
    }

    .right-side {
      width: 250px;
    }
  }

  .left-sidebar {
    .inner {
      .overview {
        .product {
          .img {
            background: url("../img/iphoneX.jpg") no-repeat top center;
            -webkit-background-size: contain;
            background-size: contain;
            height: 140px;
            max-width: 90px;
            width: 100%;
          }

          .title {
            color: black;
            font-size: 18px;
          }

          .capacity {
            color: black;
          }

          .description {
            font-size: 12px;
          }

          .price {
            font-size: 35px;
            color: $primary-blue;
            font-weight: bold;
            margin-top: 10px;
          }
        }

        .check-marks {
          margin-top: 25px;
          padding-top: 20px;
          border-top: 1px solid $primary-box-color;

          .check-mark {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .main-content {
    margin-top: 0;
    padding: 0;

    .inner {
      form {
        .form-box {
          margin-bottom: 30px;
          border-radius: 10px;
          box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
          border: 1px solid $primary-box-color;

          .inner {
            padding: 30px;

            label {
              font-size: 12px;
              color: black;
            }

            .second-title {
              font-weight: bold;
              color: $dark-bold;
              margin-top: 25px;
            }
          }

          .checkbox {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
          }
        }

        .checkbox {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;

          input[type='checkbox'] {
            width: 20px;
            height: 20px;
            margin-right: 15px;
          }

          label {
            margin: 0;
          }
        }
      }
    }
  }
}