.trade-in-thanks {
  .payment-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-side {
      display: flex;
      flex-direction: row;
    }

    .right-side {
      width: 250px;
    }
  }

  section.content-banner {
    .inner {
      border-radius: 5px;
      height: 400px;
      background: url("../img/last-blog.png");
      -webkit-background-size: cover;
      background-size: cover;
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h2, p {
        color: white;
      }

      p {
        margin: 15px 0;
      }

      .btn-green {
        width: 250px;
      }
    }
  }

  section.timeline {
    border-top: 1px solid $primary-box-color;
    border-bottom: 1px solid $primary-box-color;
    padding: 15px 0;

    .img {
      width: 40px;
      height: 40px;
      background: yellow;
    }

    p {
      margin: 0;
    }
  }
}