.trade-in-step3 {
  .payment-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-side {
      display: flex;
      flex-direction: row;
    }

    .right-side {
      width: 250px;
    }
  }

  .left-sidebar {
    .inner {
      .overview {
        .product {
          .img {
            background: url("../img/iphoneX.jpg") no-repeat top center;
            -webkit-background-size: contain;
            background-size: contain;
            height: 140px;
            max-width: 90px;
            width: 100%;
          }

          .title {
            color: black;
            font-size: 18px;
          }

          .capacity {
            color: black;
          }

          .description {
            font-size: 12px;
          }

          .price {
            font-size: 35px;
            color: $primary-blue;
            font-weight: bold;
            margin-top: 10px;
          }
        }

        .check-marks {
          margin-top: 25px;
          padding-top: 20px;
          border-top: 1px solid $primary-box-color;

          .check-mark {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .main-content {
    margin-top: 0;
    padding: 0;

    .inner {
      .your-info,
      .our-address {
        min-height: 410px;

        .inner {
          height: 100%;
          padding-top: 30px;
          background: white;
          box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
          border: 1px solid $primary-box-color;

          .title {
            padding: 0 30px;

            h4 {
              font-weight: normal;
              margin-bottom: 0;
            }
          }

          .personal-info {
            border-bottom: 1px solid $primary-box-color;
            margin: 20px 0 15px 0;
            padding: 0 30px 15px 30px;

            .email {
              margin-top: 15px;
            }

            .phone {
              margin-bottom: 15px;
            }
          }

          .device-info,
          .payment-info {
            border-bottom: 1px solid $primary-box-color;
            margin: 20px 0 15px 0;
            padding: 0 30px 15px 30px;
          }

          .payment-info {
            border-bottom: none;
          }

          .address-info {
            display: flex;
            flex-direction: row;
            margin-top: 20px;

            .icon {
              margin-right: 15px;

              i {
                margin-top: 5px;
              }
            }

            .details {
              .place {
                margin-bottom: 30px;
              }
            }
          }
        }
      }

      .our-address {
        .inner {
          padding: 30px;

          .title {
            padding: 0;
          }
        }
      }
    }
  }
}