.trade-in-landingpage {
  .payment-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-side {
      display: flex;
      flex-direction: row;
    }

    .right-side {
      width: 250px;
    }
  }

  section.content-banner {
    margin-bottom: 0;

    .inner {
      border-radius: 5px;
      height: 400px;
      background: url("../img/last-blog.png");
      -webkit-background-size: cover;
      background-size: cover;
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h1, p {
        color: white;
      }

      p {
        margin: 15px 0;
      }

      .btn-green {
        width: 250px;
      }
    }
  }

  section.breadcrumbs {
    margin: 10px 0;
  }

  section.timeline {
    border-top: 1px solid $primary-box-color;
    border-bottom: 1px solid $primary-box-color;
    padding: 15px 0;

    .img {
      width: 40px;
      height: 40px;
      background: yellow;
    }

    p {
      margin: 0;
    }
  }

  .three-cards {
    .title {
      margin-bottom: 30px;

      h2 {
        margin-bottom: 10px;
      }

      h3 {
        color: $primary-text;
      }
    }
    .inner {
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
      border: 1px solid $primary-box-color;
      border-radius: 5px;
      padding: 20px;

      background: url("../img/apple-ipad-pro.png") no-repeat 95% 95%;
      -webkit-background-size: 15%;
      background-size: 15%;

      .title {
        h3 {
          margin-bottom: 0;
        }
      }

      .second-title {
        margin-bottom: 15px;

        p {
          font-weight: bold;
          color: black;
        }
      }
    }

    .buttons {
      margin: 30px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .btn-green {
        width: 250px;
      }
    }
  }

  section.about {
    .left-side {
      .inner {
        padding: 30px;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
        margin-bottom: 30px;

        .check-marks {
          .check-mark {
            margin-top: 15px;

            i {
              color: $primary-green;
            }
          }
        }
      }
    }

    .right-side {
      .text {
        margin-bottom: 30px;

        p {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }

      .tradable-phones {
        .check-marks {
          padding: 10px 0;

          .check-mark {
            i {
              margin-right: 30px;
            }
          }
        }

        .btn-green {
          width: 250px;
        }
      }
    }
  }
}