.trade-in-step1 {
  .payment-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left-side {
      display: flex;
      flex-direction: row;
    }

    .right-side {
      .search {
        width: 450px;

        input {
          height: 50px;
          border: 1px solid $primary-box-color;
          border-right: none;
          border-radius: 8px 0 0 8px;
        }

        .input-group-append {
          .input-group-text {
            border: 1px solid $primary-box-color;
            border-left: none;
            border-radius: 0 8px 8px 0;
            background: transparent;

            i {
              color: $primary-text;
            }
          }
        }
      }
    }
  }

  .main-content {
    .title {
      padding-bottom: 20px;
      border-bottom: 1px solid $primary-box-color;
      margin-bottom: 10px;

      .row {
        align-items: center;

        h1 {
          margin-bottom: 0;
        }
      }
    }

    .brands {
      .collapsed-section {
        display: none;
      }

      &.collapsed {
        h3,
        .brand-parent {
          display: none;
        }

        .collapsed-section {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;

          .img-container {
            margin-right: 15px;
            height: 50px;
            width: 50px;

            .inner {
              box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
              border-radius: 5px;
              border: 1px solid $primary-box-color;
              padding: 10px;
              display: flex;
              align-items: center;
              justify-content: center;

              .img {
                height: 30px;
                width: 30px;
                background: yellow;
              }
            }
          }

          .text {
            display: flex;
            flex-direction: column;

            p {
              margin: 0;
            }

            a {
              line-height: 17px;
            }
          }

          i {
            position: absolute;
            right: 5px;
            top: 15px;
            color: $primary-blue;
          }
        }
      }
    }

    .brands,
    .phones {
      padding-bottom: 10px;
      border-bottom: 1px solid $primary-box-color;
      margin-bottom: 20px;

      h3 {
        margin: 15px 0;
      }

      .brand-parent,
      .type-parent {
        margin-bottom: 20px;

        .brand,
        .type {
          box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
          border: 1px solid $primary-box-color;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 35px;

          .img {
            width: 90px;
            height: 90px;
            background: yellow;
          }
        }
      }
    }

    .phones {
      .type-parent {
        .type {
          display: flex;
          flex-direction: column;
          padding: 25px;

          .img {
            width: 50px;
            height: 70px;
          }

          p {
            color: black;
            margin-top: 10px;
            margin-bottom: 0;
          }
        }
      }
    }

    .details {
      form {
        border-bottom: 1px solid $primary-box-color;
        margin-bottom: 30px;
        padding-bottom: 15px;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn-green {
          width: 300px;
        }
      }
    }
  }
}