$primary-blue: #29A7BF;
$primary-green: #18B900;
$darker-green: #15A100;
$primary-red: #CC1515;
$primary-text: #697C83;
$primary-box-color: #E5E5E5;
$btn-shadow: #15A100;
$dark-bold: #363636;

$blue-hover-color: rgba(41,167,191,0.12);